* {
    font-family: 'Roboto';
}

nav {
    width: 100%;
    background-color: rgb(209 213 219);
    left: 0px;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: flex-end;

}

body {
    background-color: red;

}

html,
body {
    height: 100%;
}

#time {
    background-color: white;
    position: flex-start;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
}

.stop {
    background-color: rgb(220 38 38);
    color: white;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 15px;
}

.stop:active {
    background-color: rgb(127 29 29);
}

.lang {
    background: rgb(156 163 175);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 15px;
}

.lang:active {
    background-color: rgb(75 85 99);
    transition-timing-function: ease-in-out;
    color: white;
}