<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../Controller/basket.js" defer></script>
    <script src="../Controller/lang.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<nav>
    <div id="Stop">
        <h1>Halt</h1>
    </div>
    <div id="time">
        <h1 id="clock"></h1>
    </div>
    <div class="Lang" id="English">
        <h1>Englisch</h1>
    </div>
    <div class="Lang" id="German">
        <h1>Deutsch</h1>
    </div>
    <div class="Lang" id="French">
        <h1>Französisch</h1>
    </div>
</nav>

<body>
    <div id="ticketamount">
        <div id="fullpriceClass">
            <button id="fullprice-" class="button">-</button>
            <div id="fullpricename">
                <h1>Fahrkarten für die erste Klasse </h1>

                <h1 id="fullprice">: 0</h1>
            </div>
            <button id="fullprice+" class="button">+</button>
        </div>
        <div id="halfClass">
            <button id="half-" class="button">-</button>
            <div id="halfname">
                <h1>Fahrkarten der zweiten Klasse</h1>
                <h1 id="half">: 0</h1>
            </div>
            <button id="half+" class="button">+</button>

        </div>
    </div>
    <div id="price">
        <h1 id="center">Gesamtpreis</h1>
        <div id="totals">
            <h2>Erste Klasse Total</h2>

            <h2 id="fullTotal">0.00</h2>
        </div>
        <div id="totals">
            <h2>Zweite Klasse Total</h2>
            <h2 id="halfTotal">0.00</h2>
        </div>
        <div id="totals" class="cost">
            <h1>Total</h1>
            <h2 id="total">0.00</h2>


        </div><button id="Purchase" class="button">
            <h1>Purchase</h1>
        </button>
    </div>
</body>

</html>