<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../Controller/basket.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<nav>
    <div class="Stop">
        <h1>STOP</h1>
    </div>
    <div id="time">
        <h1 id="clock"></h1>
    </div>
    <div class="Lang">
        <h1>English</h1>
    </div>
    <div class="Lang">
        <h1>German</h1>
    </div>
    <div class="Lang">
        <h1>French</h1>
    </div>
</nav>

<body>
    <div id="ticketamount">
        <div id="fullpriceClass">
            <button id="fullprice-" class="button">-</button>
            <div id="fullpricename">
                <h1>fullprice Class tickets </h1>

                <h1 id="fullprice">: 0</h1>
            </div>
            <button id="fullprice+" class="button">+</button>
        </div>
        <div id="halfClass">
            <button id="half-" class="button">-</button>
            <div id="halfname">
                <h1>half Class tickets</h1>
                <h1 id="half">: 0</h1>
            </div>
            <button id="half+" class="button">+</button>
        </div>
    </div>
    <div id="price">
        <h1>Total Price</h1>
        <div id="totals">
            <h2>full Price</h2>

            <h2 id="fullTotal">0.00</h2>
        </div>
        <div id="totals">
            <h2>Half Price</h2>
            <h2 id="halfTotal">0.00</h2>
        </div>
        <div id="totals" class="cost">
            <h1>Total</h1>
            <h2 id="total">0.00</h2>
        </div>
    </div>
</body>

</html>