<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>

    <script src="../Controller/script.js" defer></script>
    <script src="../Controller/lang.js" defer></script>
    <link rel="stylesheet" href="style.css">

    <!------------------------------------------------must use graviola ------------------------------------------------------>

</head>
<nav>
    <div id="Stop">
        <h1>Halt</h1>
    </div>
    <div id="time">
        <h1 id="clock"></h1>
    </div>
    <div class="Lang" id="English">
        <h1>Englisch</h1>
    </div>
    <div class="Lang" id="German">
        <h1>Deutsch</h1>
    </div>
    <div class="Lang" id="French">
        <h1>Französisch</h1>
    </div>
</nav><img src="Linienplan.png" id="screen-saver" alt="screen-saver that will disspear once you move">

<body>


    <main class="main" id="main">

        <div id="location">
            <h1 id="von">Von</h1>

            <div id="locationLeft">
            </div>
        </div>
        <img src="left-right.svg" id="leftRight" onclick="rotate()" alt="a button to swap the to and from location">
        <div id="location" class="locationRight">
            <h1 id="nach">Nach</h1>
            <div id="locationRight"></div>
        </div>


    </main>
    <div id="onewaybutton">

    </div>
</body>




</html>