<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <script src="../Controller/script.js" defer></script>
    <link rel="stylesheet" href="style.css">

    <!------------------------------------------------must use graviola ------------------------------------------------------>

</head>

<nav>
    <div class="Stop">
        <h1>STOP</h1>
    </div>
    <div id="time">
        <h1 id="clock"></h1>
    </div>
    <div class="Lang">
        <h1>English</h1>
    </div>
    <div class="Lang">
        <h1>German</h1>
    </div>
    <div class="Lang">
        <h1>French</h1>
    </div>
</nav>

<body>
    <div class="main">

        <div id="location">
            <h1 id="von">Von</h1>

            <div id="locationLeft">
            </div>
        </div>
        <img src="left-right.svg" id="leftRight" onclick="rotate()" alt="a button to swap the to and from location">
        <div id="location" class="locationRight">
            <h1 id="nach">Nach</h1>
            <div id="locationRight"></div>
        </div>
    </div>

</body>




</html>